body {
  background: #eff8ff;
}
h1,
h2,
h3,
li {
  color: #51adcf;
  position: relative;
  right: -70px;
  top: 30px;
  font-size: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1 {
  line-height: 28px;
}
h3 {
  padding: 0px;
  font-size: 20px;
}

.btn-success {
  background-color: #0278ae;
  transition: 0.5s ease;
}

li {
  font-size: 15px;
  color: #c4b6b6;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  position: relative;
  right: -40px;
}
form {
  text-align: center;
  padding-top: 30px;
}
img {
  width: 70px;
  display: block;
  margin-right: 10px;
  position: relative;
  right: -105px;
  top: -100px;
}

.boxed {
  display: block;
  margin: 0 auto;
  border: 3px solid #0278ae;
  max-width: 600px;
  position: relative;
  top: 70px;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  border-radius: 10px;
}

.mon {
  position: relative;
  right: -10px;
}
.tues {
  position: relative;
  right: -70px;
}
.weds {
  position: relative;
  right: -130px;
}
.thurs {
  position: relative;
  right: -190px;
}
.fri {
  position: relative;
  right: -260px;
}
