body {
  background: #eff8ff;
}
h1,
h2,
li {
  color: #51adcf;
  top: 30px;
  font-size: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1,
h2 {
  line-height: 28px;
  text-align: center;
}

h3,
.weather-forecast {
  text-align: center;
  font-size: 16px;
  color: #c4b6b6;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

input {
  padding: 2px;
  outline: none;
  border-radius: 5px;
  border-color: #018ccc;
}

input:focus::placeholder {
  color: transparent;
}

input::placeholder {
  transition: color 0.3s ease;
}

.search-btn,
.btn-success {
  background-color: #74c3e7;
  font-size: 15px;
  color: #f6efed;
  padding: 5px 20px;
  border-radius: 15px;
  border: 2px solid #018ccc;
  cursor: pointer;
  transition: all 200ms;
  outline: none;
}
.btn-success {
  position: relative;
  top: -36px;
  left: 433px;
  bottom: 50px;
  outline: none;
}

.btn-success:active {
  background-color: #74c3e7;
  outline: none;
}
.btn-success:hover {
  background-color: #74c3e7;
  border: 2px solid #018ccc;
  outline: none;
}

btn-success:visited {
  background-color: #74c3e7;
  border: 2px solid #018ccc;
  outline: none;
}

li {
  font-size: 16px;
  color: #c4b6b6;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  position: relative;
  right: -10px;
  top: -35px;
}

p {
  font-size: 18px;
  color: #f6efed;
  text-align: center;
  position: relative;
  top: 65px;
  left: 150px;
  margin: 0 auto;
  padding: 5px 20px;
  border: 3px solid #018ccc;
  border-radius: 10px;
  background-color: #74c3e7;
  max-width: 200px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

form {
  text-align: center;
  padding-top: 30px;
}
img {
  display: block;
  margin: 0 auto;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
  height: 130px;
  width: 130px;
}

.weather-forecast {
  margin-top: 30px;
  padding: 20px;
}

.weather-forcast-temp-max {
  opacity: 0.9;
}
.weather-forcast-temp-min {
  opacity: 0.7;
}

.forcast-img {
  width: 36px;
  height: 36px;
  display: block;
  margin: 0 auto;
}

.links {
  color: rgb(94, 92, 92);
  font-size: 25px;
  position: relative;
  top: -36px;
  left: 250px;
  text-decoration: none;
}

.boxed {
  display: block;
  margin: 0 auto;
  border: 3px solid #0278ae;
  max-width: 600px;
  position: relative;
  top: 70px;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  border-radius: 10px;
}
