body {
  background: #eff8ff;
}
h1,
h2,
li {
  color: #51adcf;
  top: 30px;
  font-size: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1,
h2 {
  line-height: 28px;
  text-align: center;
}

h3 {
  text-align: center;
  font-size: 16px;
  color: #c4b6b6;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.btn-success {
  background-color: #74c3e7;
  position: relative;
  top: -53px;
  left: 400px;
  bottom: 50px;
  font-size: 15px;
  color: #accee5;
  padding: 5px 20px;
  border-radius: 15px;
  border: 2px solid #018ccc;
  cursor: pointer;
  transition: all 200ms;
}

li {
  font-size: 15px;
  color: #c4b6b6;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  position: relative;
  right: -10px;
}
form {
  text-align: center;
  padding-top: 30px;
}
#icon {
  display: block;
  margin-top: 0px;
  text-align: center;
  padding: 0;
  height: 130px;
  width: 130px;
}

.fab {
  color: rgb(94, 92, 92);
  font-size: 20px;
}

.boxed {
  display: block;
  margin: 0 auto;
  border: 3px solid #0278ae;
  max-width: 600px;
  position: relative;
  top: 70px;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  border-radius: 10px;
}

.mon {
  position: relative;
  right: -10px;
}
.tues {
  position: relative;
  right: -70px;
}
.weds {
  position: relative;
  right: -130px;
}
.thurs {
  position: relative;
  right: -190px;
}
.fri {
  position: relative;
  right: -260px;
}
